{{define "account"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _ACCOUNT_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/calender.css" />
    <link rel="stylesheet" href="../css/registration.css" />
    <link rel="stylesheet" href="../css/account.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header m-auto flex items-center bg-white">
        <a href="/index">
          <div class="header-link bg-white">
            TOP
          </div>
        </a>
        <a href="/free-time">
          <div class="header-link bg-white">
            FREE-TIME LATEST
          </div>
        </a>
        <a href="/free-times">
          <div class="header-link bg-white">
            FREE-TIMES
          </div>
        </a>
        <a href="/share/with_someone">
          <div class="header-link bg-white">
            SHARE
          </div>
        </a>
        <a href="/account/">
          <div class="header-link bg-white">
            ACCOUNT
          </div>
        </a>
        <div class="bg-white today-date font-24">
          <span id="today" class="blinking"></span>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">ACCOUNT PAGE</h1>
        </div>
        <div class="sharing-button-wrapper mr flex">


          <button id="icon-list-display-button" class="title-area-button text-center bg-oldlace">
            <div class="letter-01 font-17">
              EDIT ICON
            </div>
          </button>
          <button id="username-change-form-display-button" class="title-area-button text-center bg-oldlace">
            <div class="letter-01 font-17">
              EDIT USERNAME
            </div>
          </button>
          <button id="password-change-form-display-button" class="title-area-button text-center bg-oldlace">
            <div class="letter-01 font-17">
              EDIT PASSWORD
            </div>
          </button>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-30 font-16 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <label for="today" class="calendar-label">
              <input class="input-calendar" type="date" name="today" id="today-input"/>
            </label>
            <button class="content-left-button">SELECT</button>
            <button class="content-left-button">CREATE</button>
            <button class="content-left-button">UPDATE</button>
          </form>
        </div>

        <!-- エラーメッセージ -->
        <p class="error-message-in-account font-20 text-darkred">エラーメッセージ</p>

        <div class="account-content-right-area bg-white">
          <div id="icon-list">
            <form class="icon-list-wrapper flex-col bg-white">
              <div class="icon-row flex">
                <button type="button" value="icon01.svg" id="icon" class="icon">
                  <img src="../icon/icon01.svg" alt="" class="icon-size">
                </button>

                <button type="button" value="icon02.svg" id="icon" class="icon">
                  <img src="../icon/icon02.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon03.svg" id="icon" class="icon">
                  <img src="../icon/icon03.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon04.svg" id="icon" class="icon">
                  <img src="../icon/icon04.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon05.svg" id="icon" class="icon">
                  <img src="../icon/icon05.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon06.svg" id="icon" class="icon">
                  <img src="../icon/icon06.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon07.svg" id="icon" class="icon">
                  <img src="../icon/icon07.svg" alt="" class="icon-size">
                </button>
              </div>

              <div class="icon-row flex">
                <button type="button" value="icon08.svg" id="icon" class="icon">
                  <img src="../icon/icon08.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon09.svg" id="icon" class="icon">
                  <img src="../icon/icon09.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon10.svg" id="icon" class="icon">
                  <img src="../icon/icon10.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon11.svg" id="icon" class="icon">
                  <img src="../icon/icon11.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon12.svg" id="icon" class="icon">
                  <img src="../icon/icon12.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon13.svg" id="icon" class="icon">
                  <img src="../icon/icon13.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon14.svg" id="icon" class="icon">
                  <img src="../icon/icon14.svg" alt="" class="icon-size">
                </button>
              </div>
              <div class="icon-row flex">
                <button type="button" value="icon15.svg" id="icon" class="icon">
                  <img src="../icon/icon15.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon16.svg" id="icon" class="icon">
                  <img src="../icon/icon16.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon17.svg" id="icon" class="icon">
                  <img src="../icon/icon17.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon18.svg" id="icon" class="icon">
                  <img src="../icon/icon18.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon19.svg" id="icon" class="icon">
                  <img src="../icon/icon19.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon20.svg" id="icon" class="icon">
                  <img src="../icon/icon20.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon21.svg" id="icon" class="icon">
                  <img src="../icon/icon21.svg" alt="" class="icon-size">
                </button>
              </div>
              <div class="justify-end button-row flex">
                <button id="submit-button" type="submit" class="bg-wood">
                  <div class="text-snow letter-01 font-17">
                    SAVE EDITS
                  </div>
                </button>
              </div>
            </form>
          </div>

          <!-- ユーザ名変更フォーム表示 -->
          <div id="username-change-form">
            <form class="icon-list-wrapper flex-col bg-white">
              <div class="username-input-wrapper m-auto flex-col">
                <h2 class="text-center letter-01">EDIT USERNAME</h2>
                <p class="font-18">新しいユーザー名を入力してください。</p>
                <div class="input-area text-wood flex-col">
                  <label for="name">NEW USERNAME</label>
                  <input type="text" name="issue-number" maxlength="16" />
                </div>
                <div class="input-area text-wood flex-col">
                  <label for="name">NEW USERNAME CONFIRMATION</label>
                  <input type="text" name="issue-number" maxlength="16" />
                </div>
              </div>
              <div class="justify-end button-row flex">
                <button id="submit-button" type="submit" class="bg-wood">
                  <div class="text-snow letter-01 font-17">
                    SAVE EDITS
                  </div>
                </button>
              </div>
            </form>
          </div>

          <!-- パスワード変更フォーム表示 -->
          <div id="password-change-form">
            <form class="icon-list-wrapper flex-col bg-white">
              <div class="username-input-wrapper m-auto flex-col">
                <h2 class="text-center letter-01">EDIT PASSWORD</h2>
                <p class="font-18">現在のパスワードと新しいパスワードを入力してください。</p>
                <div class="input-area text-wood flex-col">
                  <label for="password">PASSWORD</label>
                  <input type="password" name="password" maxlength="20" />
                </div>
                <div class="input-area text-wood flex-col">
                  <label for="password">NEW PASSWORD</label>
                  <input type="password" name="new-password" maxlength="20" />
                </div>
                <div class="input-area text-wood flex-col">
                  <label for="password">NEW PASSWORD CONFIRMATION</label>
                  <input type="password" name="new-password-confirmation" maxlength="20" />
                </div>
              </div>
              <div class="justify-end button-row flex">
                <button id="submit-button" type="submit" class="bg-wood">
                  <div class="text-snow letter-01 font-17">
                    SAVE EDITS
                  </div>
                </button>
              </div>
            </form>
          </div>

          <div class="account-wrapper m-auto flex">
            <div class="account-content-left flex-col">
              <div class="my-icon">
                <img src="../icon/icon20.svg" alt="">
              </div>
              <div class="my-name">
                <label for="name">USERNAME</label>
                <div class="name-box">
                  <p class="font-24">あいうえおかきくけこ</p>
                </div>
              </div>
            </div>
            <div class="account-content-right">
              <div class="my-info-wrapper">
                <div class="my-info">
                  <label for="number">SHARERS</label>
                  <div class="info-box flex">
                    <div class="detail-box">
                      <p>共有している人数</p>
                    </div>
                    <div class="result-box">
                      <p>02 人</p>
                    </div>
                  </div>
                </div>
                <div class="my-info">
                  <label for="number">SHARERS</label>
                  <div class="info-box flex">
                    <div class="detail-box">
                      <p>共有されている人数</p>
                    </div>
                    <div class="result-box">
                      <p>02 人</p>
                    </div>
                  </div>
                </div>
                <div class="my-info">
                  <label for="number">REGISTRATIONS</label>
                  <div class="info-box flex">
                    <div class="detail-box">
                      <p>free-time登録件数</p>
                    </div>
                    <div class="result-box">
                      <p>02 件</p>
                    </div>
                  </div>
                </div>
                <div class="my-info">
                  <label for="number">RESET PASSWORD</label>
                  <div class="info-box">
                    <div class="detail-box-password flex-col">
                      <p>パスワードをお忘れの方はこちら</p>
                      <a href="/account/password_reset" class="password-reset-button">
                        <div class="bg-snow text-center">
                          RESET PASSWORD
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/account-button.js"></script>

</html>
{{end}}
