{{define "account-edit"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _ACCOUNT EDIT_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/calender.css" />
    <link rel="stylesheet" href="../css/registration.css" />
    <link rel="stylesheet" href="../css/account.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header-wrapper-line bg-white">
        <div class="header flex m-auto items-center bg-white">
          <div class="header-link-wrapper">
            <a href="/index">
              <div class="header-link">
                <p class="font-24 letter-005">TOP</p>
              </div>
            </a>
          </div>

          <div class="header-link-wrapper">
            <a href="/free-time/{{.nearest_date_free_time_id}}">
              <div class="header-link">
                <p class="font-24 letter-005">NEAREST FREE-TIME</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/free-times">
              <div class="header-link">
                <p class="font-24 letter-005">FREE-TIMES</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/share/with_someone">
              <div class="header-link">
                <p class="font-24 letter-005">SHARE</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/account/">
              <div class="header-link">
                <p class="font-24 letter-005">ACCOUNT</p>
              </div>
            </a>
          </div>
          <div id="today-wrapper" class="text-center font-24">
            <span id="today" class="blinking"></span>
          </div>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">ACCOUNT EDIT PAGE</h1>
        </div>
        <div class="title-area-button-wrapper mr flex">
          <div class="toggle-button-wrapper">
            <button id="icon-list-display-button" class="toggle-button bg-oldlace">
              <p class="font-20">
                EDIT ICON
              </p>
            </button>
          </div>
          <div class="toggle-button-wrapper">
            <button id="username-change-form-display-button" class="toggle-button bg-oldlace">
              <p class="font-20">
                EDIT USERNAME
              </p>
            </button>
          </div>
          <div class="toggle-button-wrapper">
            <button id="password-change-form-display-button" class="toggle-button bg-oldlace">
              <p class="font-20">
                EDIT PASSWORD
              </p>
            </button>
          </div>
          <div class="toggle-button-wrapper">
            <button id="email-change-form-display-button" class="toggle-button bg-oldlace">
              <p class="font-20">
                EDIT E-MAIL
              </p>
            </button>
          </div>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-80 font-16 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <label for="today" class="calendar-label">
              <input class="input-calendar" type="date" name="date" id="today-input" style="font-size:1.1em" />
            </label>
            <button class="content-left-button" formaction="/free-time/:date">SELECT</button>
            <button class="content-left-button" formaction="/free-time/create">CREATE</button>
            <button class="content-left-button"formaction="/free-time/update">UPDATE</button>
          </form>
        </div>

        <!-- エラーメッセージ -->
        <p class="error-message-in-account font-20 text-darkred">エラーメッセージ</p>

        <div class="account-content-right-area flex bg-white">
          <div id="icon-list">
            <form class="icon-list-wrapper flex-col bg-white">
              <div class="icon-row flex">
                <button type="button" value="icon01.svg" id="icon" class="icon">
                  <img src="../icon/icon01.svg" alt="" class="icon-size">
                </button>

                <button type="button" value="icon02.svg" id="icon" class="icon">
                  <img src="../icon/icon02.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon03.svg" id="icon" class="icon">
                  <img src="../icon/icon03.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon04.svg" id="icon" class="icon">
                  <img src="../icon/icon04.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon05.svg" id="icon" class="icon">
                  <img src="../icon/icon05.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon06.svg" id="icon" class="icon">
                  <img src="../icon/icon06.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon07.svg" id="icon" class="icon">
                  <img src="../icon/icon07.svg" alt="" class="icon-size">
                </button>
              </div>

              <div class="icon-row flex">
                <button type="button" value="icon08.svg" id="icon" class="icon">
                  <img src="../icon/icon08.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon09.svg" id="icon" class="icon">
                  <img src="../icon/icon09.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon10.svg" id="icon" class="icon">
                  <img src="../icon/icon10.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon11.svg" id="icon" class="icon">
                  <img src="../icon/icon11.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon12.svg" id="icon" class="icon">
                  <img src="../icon/icon12.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon13.svg" id="icon" class="icon">
                  <img src="../icon/icon13.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon14.svg" id="icon" class="icon">
                  <img src="../icon/icon14.svg" alt="" class="icon-size">
                </button>
              </div>
              <div class="icon-row flex">
                <button type="button" value="icon15.svg" id="icon" class="icon">
                  <img src="../icon/icon15.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon16.svg" id="icon" class="icon">
                  <img src="../icon/icon16.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon17.svg" id="icon" class="icon">
                  <img src="../icon/icon17.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon18.svg" id="icon" class="icon">
                  <img src="../icon/icon18.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon19.svg" id="icon" class="icon">
                  <img src="../icon/icon19.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon20.svg" id="icon" class="icon">
                  <img src="../icon/icon20.svg" alt="" class="icon-size">
                </button>
                <button type="button" value="icon21.svg" id="icon" class="icon">
                  <img src="../icon/icon21.svg" alt="" class="icon-size">
                </button>
              </div>
              <div class="justify-end button-row flex">
                <button id="submit-button" type="submit" class="bg-wood">
                  <div class="text-snow letter-01 font-17">
                    SAVE EDITS
                  </div>
                </button>
              </div>
            </form>
          </div>

          <!-- ユーザ名変更フォーム表示 -->
          <div id="username-change-form">
            <form class="icon-list-wrapper flex-col bg-white">
              <div class="username-input-wrapper m-auto flex-col">
                <h2 class="text-center letter-01">EDIT USERNAME</h2>
                <p class="font-18">新しいユーザー名を入力してください。</p>
                <div class="input-area text-wood flex-col">
                  <label for="name">NEW USERNAME</label>
                  <input type="text" name="issue-number" maxlength="16" />
                </div>
                <div class="input-area text-wood flex-col">
                  <label for="name">NEW USERNAME CONFIRMATION</label>
                  <input type="text" name="issue-number" maxlength="16" />
                </div>
              </div>
              <div class="justify-end button-row flex">
                <button id="submit-button" type="submit" class="bg-wood">
                  <div class="text-snow letter-01 font-17">
                    SAVE EDITS
                  </div>
                </button>
              </div>
            </form>
          </div>

          <!-- パスワード変更フォーム表示 -->
          <div id="password-change-form">
            <form class="icon-list-wrapper flex-col bg-white">
              <div class="username-input-wrapper m-auto flex-col">
                <h2 class="text-center letter-01">EDIT PASSWORD</h2>
                <p class="font-18">現在のパスワードと新しいパスワードを入力してください。</p>
                <div class="input-area text-wood flex-col">
                  <label for="password">PASSWORD</label>
                  <input type="password" name="password" maxlength="20" />
                </div>
                <div class="input-area text-wood flex-col">
                  <label for="password">NEW PASSWORD</label>
                  <input type="password" name="new-password" maxlength="20" />
                </div>
                <div class="input-area text-wood flex-col">
                  <label for="password">NEW PASSWORD CONFIRMATION</label>
                  <input type="password" name="new-password-confirmation" maxlength="20" />
                </div>
              </div>
              <div class="justify-end button-row flex">
                <button id="submit-button" type="submit" class="bg-wood">
                  <div class="text-snow letter-01 font-17">
                    SAVE EDITS
                  </div>
                </button>
              </div>
            </form>
          </div>

          <!-- メールアドレス変更フォーム表示 -->
          <div id="email-change-form">
            <form class="icon-list-wrapper flex-col bg-white">
              <div class="username-input-wrapper m-auto flex-col">
                <h2 class="text-center letter-01">EDIT E-MAIL</h2>
                <p class="font-18">現在のメールアドレスと新しいパスワードを入力してください。</p>
                <div class="input-area text-wood flex-col">
                  <label for="current-email">CURRENT E-MAIL</label>
                  <input type="text" name="current-email" />
                </div>
                <div class="input-area text-wood flex-col">
                  <label for="new-email">NEW E-MAIL</label>
                  <input type="text" name="new-email" />
                </div>
              </div>
              <div class="justify-end button-row flex">
                <button id="submit-button" type="submit" class="bg-wood">
                  <div class="text-snow letter-01 font-17">
                    SAVE EDITS
                  </div>
                </button>
              </div>
            </form>
          </div>

          <div class="account-info-left-area flex-col">
            <div class="my-icon-wrapper flex-col">
              <label for="icon">YOUR ICON</label>
              <div class="my-icon-area">
                <img src="../icon/icon20.svg" alt="">
              </div>
            </div>
            <div class="my-name-wrapper flex-col">
              <label for="name">USERNAME</label>
              <div class="name-box box-ghostwhite">
                <p class="text-center font-24">あいうえおかきくけこ</p>
              </div>
            </div>
          </div>

          <div class="account-info-right-area">
            <div class="info-wrapper flex-col">
              <div class="edit-info-area flex">
                <div class="button-info-description-wrapper flex-col">
                  <div class="button-description-label-wrapper">
                    <label for="number">BACK TO ACCOUNT</label>
                  </div>
                  <div class="button-description-wrapper">
                    <p class="font-18 letter-005 text-dimgrey">アカウントへ戻る</p>
                  </div>
                </div>
                <div class="info-change-button-wrapper">
                  <a href="/account/">
                    <p class="back-link text-center font-22">BACK</p>
                  </a>
                </div>
              </div>
              <div class="edit-info-area flex">
                <div class="button-info-description-wrapper flex-col">
                  <div class="button-description-label-wrapper">
                    <label for="number">SHARE WITH SOMEONE</label>
                  </div>
                  <div class="button-description-wrapper">
                    <p class="font-18 letter-005 text-dimgrey">共有している人の削除はこちら</p>
                  </div>
                </div>
                <div class="info-change-button-wrapper">
                  <a href="/account/">
                    <div class="link-button bg-snow">
                      <p class="text-center font-20">REMOVE</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="edit-info-area flex">
                <div class="button-info-description-wrapper flex-col">
                  <div class="button-description-label-wrapper">
                    <label for="number">SHARE WITH ME</label>
                  </div>
                  <div class="button-description-wrapper">
                    <p class="font-18 letter-005 text-dimgrey">共有されている人の削除はこちら</p>
                  </div>
                </div>
                <div class="info-change-button-wrapper">
                  <a href="/account/">
                    <div class="link-button bg-snow">
                      <p class="text-center font-20">REMOVE</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="edit-info-area flex">
                <div class="button-info-description-wrapper flex-col">
                  <div class="button-description-label-wrapper">
                    <label for="number">PASSWORD RESET</label>
                  </div>
                  <div class="button-description-wrapper">
                    <p class="font-18 letter-005 text-dimgrey">パスワードリセットはこちら</p>
                  </div>
                </div>
                <div class="info-change-button-wrapper">
                  <a href="/account/">
                    <div class="link-button bg-snow">
                      <p class="text-center font-20">RESET</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/account-button.js"></script>

</html>
{{end}}
