{{define "account"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/account.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header m-auto flex items-center bg-snow">
        <a href="/index">
          <div class="header-link bg-white">
            TOP
          </div>
        </a>
        <div class="header-link bg-white">
          <a href="/schedules">SCHEDULES</a>
        </div>
        <a href="/sharing/to">
          <div class="header-link bg-white">
            SCHEDULE SHARING
          </div>
        </a>
        <a href="/account">
          <div class="header-link bg-white">
            ACCOUNT
          </div>
        </a>
        <div class="bg-white today-date font-24">
          <span id="today" class="blinking"></span>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">ACCOUNT PAGE</h1>
        </div>
        <div class="sharing-button-wrapper mr flex">

          <div class="title-area-button bg-oldlace text-center">
            <button id="icon-list-display-button" class="letter-01 font-17 bg-oldlace">
              CHANGE ICON
            </button>
          </div>
          <a href="/sharing/to"  class="letter-01">
            <div class="title-area-button bg-oldlace text-center">
              CHANGE USERNAME
            </div>
          </a>
          <a href="/sharing/from"  class="letter-01">
            <div class="title-area-button bg-oldlace text-center">
              CHANGE PASSWORD
            </div>
          </a>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-30 font-14 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <input class="input-calendar" type="date" name="today" id="today-input"/>
            <button class="content-left-button">SELECT</button>
            <button class="content-left-button">CREATE</button>
            <button class="content-left-button">UPDATE</button>
          </form>

        </div>


        <div class="account-content-right-area bg-red">
          <div id="icon-list">
              <form class="icon-list-wrapper flex-col bg-white">
                <div class="icon-row flex">
                  <button class="icon">
                    <img src="../icon/icon01.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon02.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon03.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon04.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon05.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon06.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon07.svg" alt="" class="icon-size">
                  </button>
                </div>

                <div class="icon-row flex">
                  <button class="icon">
                    <img src="../icon/icon08.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon09.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon10.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon11.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon12.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon13.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon14.svg" alt="" class="icon-size">
                  </button>
                </div>
                <div class="icon-row flex">
                  <button class="icon">
                    <img src="../icon/icon15.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon16.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon17.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon18.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon19.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon20.svg" alt="" class="icon-size">
                  </button>
                  <button class="icon">
                    <img src="../icon/icon21.svg" alt="" class="icon-size">
                  </button>
                </div>
              </form>
          </div>

          <div class="">

          </div>
        </div>

      </div>

    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/icon-list.js"></script>

</html>
{{end}}
