{{define "create-free-time"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _CREATE free-time_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/calender.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header-wrapper-line bg-white">
        <div class="header flex m-auto items-center bg-white">
          <div class="header-link-wrapper">
            <a href="/index">
              <div class="header-link">
                <p class="font-24 letter-005">TOP</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/free-time">
              <div class="header-link">
                <p class="font-24 letter-005">FREE-TIME LATEST</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/free-times">
              <div class="header-link">
                <p class="font-24 letter-005">FREE-TIMES</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/share/with_someone">
              <div class="header-link">
                <p class="font-24 letter-005">SHARE</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/account/">
              <div class="header-link">
                <p class="font-24 letter-005">ACCOUNT</p>
              </div>
            </a>
          </div>
          <div id="today-wrapper" class="text-center font-24">
            <span id="today" class="blinking"></span>
          </div>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">CREATE SCHEDULE</h1>
        </div>
        <div class="subject-to">
          <h2 class="text-center">2023/01/01（木）</h2>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-80 font-16 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <label for="today" class="calendar-label">
              <input class="input-calendar" type="date" name="today" id="today-input"/>
            </label>
            <button class="content-left-button">SELECT</button>
            <button class="content-left-button">CREATE</button>
            <button class="content-left-button">UPDATE</button>
          </form>
        </div>

        <div class="content-right-area">
          <p class="ml-100 font-18 text-wood">上記の日付でスケジュールを作成します。<br>フリータイムの開始/終了時刻を選択してください。</p>
          <div class="select-time-wrapper ml-100">
            <form action="" class="flex items-end">
              <div class="select-time-hour-area">
                <select class="select-time-hour font-17">
                  <option value="">開始時刻</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option>10</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                </select>
              </div>
              <div class="select-time-minute-area">
                <select class="select-time-minute font-17">
                  <option value="">00</option>
                  <option>15</option>
                  <option>30</option>
                  <option>45</option>
                </select>
              </div>
              <div class="select-time-hour-area">
                <select class="select-time-hour font-17">
                  <option value="">終了時刻</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option>10</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                </select>
              </div>
              <div class="select-time-minute-area">
                <select class="select-time-minute font-17">
                  <option value="">00</option>
                  <option>15</option>
                  <option>30</option>
                  <option>45</option>
                </select>
              </div>

              <div class="select-time-button-area">
                <button class="select-time-button bg-skyblue text-snow">CREATE</button>
              </div>
            </form>

          </div>

          <div class="calender-wrapper">
            <h1 id="years"></h1>
            <div id="next-prev-button">
              <button id="prev" onclick="prev()">‹</button>
              <button id="next" onclick="next()">›</button>
            </div>
            <div id="calendar"></div>
          </div>
        </div>
      </div>

    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/calendar.js"></script>

</html>
{{end}}
