{{define "create-free-time"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _CREATE free-time_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/calender.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header-wrapper-line bg-white">
        <div class="header flex m-auto items-center bg-white">
          <div class="header-link-wrapper">
            <a href="/index">
              <div class="header-link">
                <p class="font-24 letter-005">TOP</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/free-time/{{.nearest_date_free_time_id}}">
              <div class="header-link">
                <p class="font-24 letter-005">NEAREST FREE-TIME</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/free-times">
              <div class="header-link">
                <p class="font-24 letter-005">FREE-TIMES</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/share/with_someone">
              <div class="header-link">
                <p class="font-24 letter-005">SHARE</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/account/">
              <div class="header-link">
                <p class="font-24 letter-005">ACCOUNT</p>
              </div>
            </a>
          </div>
          <div id="today-wrapper" class="text-center font-24">
            <span id="today" class="blinking"></span>
          </div>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">CREATE SCHEDULE</h1>
        </div>
        <div class="subject-to">
          {{ if and .year_str .month_str .day_str .weekday }}
          <h1 class="text-center">{{ .year_str }}/{{ .month_str }}/{{ .day_str }}（{{ .weekday }}）</h1>
          {{ else }}
          <p class="text-center">日付が選択されていません。</p>
          {{ end }}
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-80 font-16 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <label for="date" class="calendar-label">
              <input class="input-calendar" type="date" name="date" id="today-input" style="font-size:1.1em" />
            </label>
            <button class="content-left-button" formaction="/free-time/:date">SELECT</button>
            <button class="content-left-button" formaction="/free-time/create">CREATE</button>
            <button class="content-left-button"formaction="/free-time/update">UPDATE</button>
          </form>
        </div>

        <div class="content-right-area">
          <p class="error-message-in-create-free-time font-21 text-darkred">{{ .error_message }}</p>
          <p class="error-message-in-create-free-time font-21 text-skyblue">{{ .success_message }}</p>

          {{ if and .year_str .month_str .day_str .weekday }}
          <p class="ml-100 font-18 text-dimgrey">上記の日付でスケジュールを作成します。（日付の選択は不要です）<br>フリータイムの開始/終了時刻を選択してください。</p>
          {{ else }}
          <p class="ml-100 font-18 text-dimgrey">日付が選択されていないため日付の指定が必要です。<br>日付/フリータイムの開始/終了時刻を選択してください。</p>
          {{ end }}

          <div class="select-time-wrapper ml-100">

            <form
              action="/free-time/create"
              method="POST"
              class="flex items-end"
              >
              {{ if and .year_str .month_str .day_str .weekday }}
              {{ else }}
              <label for="date" class="calendar-label-create-page">
                <input class="input-calendar" type="date" name="date" id="today-input" style="font-size:1.2em" />
              </label>
              {{ end }}
              <input type="hidden" value="{{.year_str}}" name="year" />
              <input type="hidden" value="{{.month_str}}" name="month" />
              <input type="hidden" value="{{.day_str}}" name="day" />
              <div class="select-time-start-hour-area flex">
                <select class="select-time-start-hour font-17" name="start-free-time-hour">
                  <option value="">開始時刻</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </div>
              <div class="select-time-start-minute-area">
                <select class="select-time-start-minute font-17" name="start-free-time-minute">
                  <option value="00">00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
              </div>
              <div class="select-time-end-hour-area">
                <select class="select-time-end-hour font-17" name="end-free-time-hour">
                  <option value="">終了時刻</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </div>
              <div class="select-time-end-minute-area">
                <select class="select-time-end-minute font-17" name="end-free-time-minute">
                  <option value="00">00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
              </div>

              <div class="select-time-button-area">
                <button class="select-time-button bg-skyblue ">
                  <p class="text-center font-20 text-snow">作成</p>
                </button>
              </div>
            </form>

          </div>

          <div class="calender-wrapper">
            <h1 id="years"></h1>
            <div id="next-prev-button">
              <button id="prev" onclick="prev()">‹</button>
              <button id="next" onclick="next()">›</button>
            </div>
            <div id="calendar"></div>
          </div>
        </div>
      </div>

    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/calendar.js"></script>

</html>
{{end}}
