{{define "free-times"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _free-times_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header m-auto flex items-center bg-white">
        <a href="/index">
          <div class="header-link bg-white">
            TOP
          </div>
        </a>
        <a href="/free-time">
          <div class="header-link bg-white">
            FREE-TIME LATEST
          </div>
        </a>
        <a href="/free-times">
          <div class="header-link bg-white">
            FREE-TIMES
          </div>
        </a>
        <a href="/share/with_someone">
          <div class="header-link bg-white">
            SHARE
          </div>
        </a>
        <a href="/account/">
          <div class="header-link bg-white">
            ACCOUNT
          </div>
        </a>
        <div class="bg-white today-date font-24">
          <span id="today" class="blinking"></span>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="heading-wrapper flex-col">
        <div class="heading-over-area-wrapper flex">
          <div class="heading-left-area-over"></div>
          <div class="heading-right-area-over"></div>
        </div>
        <div class="heading-area-wrapper flex">
          <div class="heading-left-area flex justify-center items-center">
            <p class="font-20 bold">2023/02/27</p>
          </div>
          <div class="heading-right-area">
            <ul >
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
            </ul>

        </div>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="select-schedule-left-area border-none border-right flex-col">
          <div class="items-center">
            <div class="content-left flex justify-center items-center m-auto">
              <p class="font-24">2023/02/01</p>
            </div>
            <div class="content-left flex justify-center items-center m-auto">
              <p>2023/02/02</p>
            </div>
            <div class="content-left flex justify-center items-center m-auto">
              <p>2023/02/03</p>
            </div>
            <div class="content-left flex justify-center items-center m-auto">
              <p>2023/02/04</p>
            </div>
            <div class="content-left flex justify-center items-center m-auto">
              <p>2023/02/05</p>
            </div>
            <div class="content-left flex justify-center items-center m-auto">
              <p>2023/02/06</p>
            </div>
          </div>
        </div>
        <div class="content-right-area flex-col">

        </div>

      </div>
    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>


</html>
{{end}}
