{{define "index"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _TOP_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/calendar.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header-wrapper-line bg-white">
        <div class="header flex m-auto items-center bg-white">
          <div class="header-link-wrapper">
            <a href="/index">
              <div class="header-link">
                <p class="font-24 letter-005">TOP</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/free-time/{{.nearest_date_free_time_id}}">
              <div class="header-link">
                <p class="font-24 letter-005">NEAREST FREE-TIME</p>
              </div>
            </a>
          </div>

          <div class="header-link-wrapper">
            <a href="/free-times">
              <div class="header-link">
                <p class="font-24 letter-005">FREE-TIMES</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/share/with_someone">
              <div class="header-link">
                <p class="font-24 letter-005">SHARE</p>
              </div>
            </a>
          </div>
          <div class="header-link-wrapper">
            <a href="/account/">
              <div class="header-link">
                <p class="font-24 letter-005">ACCOUNT</p>
              </div>
            </a>
          </div>
          <div id="today-wrapper" class="text-center font-24">
            <span id="today" class="blinking"></span>
          </div>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper">
        <div class="title-area bg-white">
          <h1 class="text-center">TOP PAGE</h1>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-80 font-16 text-wood">日付を選んで<br>free-timeを操作</p>
          <form
            method="POST"
            class="form-wrapper flex-col items-center"
            >
            <label for="today" class="calendar-label">
              <input class="input-calendar" type="date" name="date" id="today-input" style="font-size:1.1em" />
            </label>
            <div class="content-left-button-wrapper text-center">
              <button class="content-left-button" formaction="/free-time">SELECT</button>
              <button class="content-left-button" formaction="/free-time/create">CREATE</button>
              <button class="content-left-button"formaction="/free-time/update">UPDATE</button>
            </div>
          </form>
        </div>

        <div class="index-content-right-area">
          <!-- エラーメッセージ -->
          {{ if .error_message }}
          <p class="error-message-in-index font-16 text-darkred">{{ .error_message }}</p>
          {{ end }}

          <div class="calender-wrapper">
            <h1 id="years"></h1>
            <div id="next-prev-button">
              <button id="prev" onclick="prev()">‹</button>
              <button id="next" onclick="next()">›</button>
            </div>
            <div id="calendar"></div>
          </div>
        </div>
      </div>

    </main>


  </body>
  <script type="text/javascript">
    const date_free_times = JSON.parse('{{marshal .date_free_times}}');

  </script>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/calendar.js"></script>

</html>
{{end}}
