{{define "password-reset"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _PASSWORD RESET_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/registration.css" />
    <link rel="stylesheet" href="../css/account.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header m-auto flex items-center bg-snow">
        <a href="/index">
          <div class="header-link bg-white">
            TOP
          </div>
        </a>
        <div class="header-link bg-white">
          <a href="/schedules">SCHEDULES</a>
        </div>
        <a href="/sharing/to">
          <div class="header-link bg-white">
            SCHEDULE SHARING
          </div>
        </a>
        <a href="/account/">
          <div class="header-link bg-white">
            ACCOUNT
          </div>
        </a>
        <div class="bg-white today-date font-24">
          <span id="today" class="blinking"></span>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">PASSWORD RESET</h1>
        </div>
        <div class="sharing-button-wrapper mr flex">
          <a href="/account/password_reset" class="title-area-button text-center bg-oldlace">
            PASSWORD RESET
          </a>
          <a href="/account/password_re_registration" class="title-area-button text-center bg-oldlace">
            <div class="letter-01 font-17">
              RE REGISTRATION
            </div>
          </a>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-30 font-14 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <input class="input-calendar" type="date" name="today" id="today-input"/>
            <button class="content-left-button">SELECT</button>
            <button class="content-left-button">CREATE</button>
            <button class="content-left-button">UPDATE</button>
          </form>
        </div>

        <!-- エラーメッセージ -->

        <div class="account-content-right-area flex-col bg-white">
          <div class="mt-9">
            <h2 class="text-center">PASSWORD RESET</h2>
            <p class="text-center text-dimgrey font-18">パスワードをお忘れの方は<strong>登録済み</strong>のメールアドレスを入力してください。</p>
          </div>
          <p class="error-message-in-password-reset font-20 text-darkred">エラーメッセージ</p>
          <form>
            <div class="password-reset-input-wrapper m-auto">
              <div class="input-area text-snow flex-col">
                <label for="e-mail">E-MAIL</label>
                <input type="text" name="e-mail" placeholder="Your email-address." />
              </div>
              <div class="password-reset-button-area">
                <button class="form-button button-darkgreen">SUBMIT SEND</button>
              </div>
            </div>
        </div>
      </div>
    </main>
  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/account-button.js"></script>
</html>
{{end}}
