{{define "password-re-registration"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _PASSWORD RE REGISTRATION_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/calender.css" />
    <link rel="stylesheet" href="../css/registration.css" />
    <link rel="stylesheet" href="../css/account.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header m-auto items-center flex bg-white">
        <div class="header-link-wrapper">
          <a href="/index">
            <div class="header-link">
              <p class="font-24 letter-005">TOP</p>
            </div>
          </a>
        </div>
        <div class="header-link-wrapper">
          <a href="/free-time">
            <div class="header-link">
              <p class="font-24 letter-005">FREE-TIME LATEST</p>
            </div>
          </a>
        </div>
        <div class="header-link-wrapper">
          <a href="/free-times">
            <div class="header-link">
              <p class="font-24 letter-005">FREE-TIMES</p>
            </div>
          </a>
        </div>
        <div class="header-link-wrapper">
          <a href="/share/with_someone">
            <div class="header-link">
              <p class="font-24 letter-005">SHARE</p>
            </div>
          </a>
        </div>
        <div class="header-link-wrapper">
          <a href="/account/">
            <div class="header-link">
              <p class="font-24 letter-005">ACCOUNT</p>
            </div>
          </a>
        </div>
        <div id="today-wrapper" class="text-center font-24">
          <span id="today" class="blinking"></span>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">RE REGISTRATION</h1>
        </div>
        <div class="sharing-button-wrapper mr flex">
          <a href="/account/password_reset" class="title-area-button text-center bg-oldlace">
            PASSWORD RESET
          </a>
          <a href="/account/password_re_registration" class="title-area-button text-center bg-oldlace">
            <div class="letter-01 font-17">
              RE REGISTRATION
            </div>
          </a>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none border-right mt-66">
          <p class="ml-30 font-16 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <label for="today" class="calendar-label">
              <input class="input-calendar" type="date" name="today" id="today-input"/>
            </label>
            <button class="content-left-button">SELECT</button>
            <button class="content-left-button">CREATE</button>
            <button class="content-left-button">UPDATE</button>
          </form>
        </div>

        <!-- エラーメッセージ -->

        <div class="account-content-right-area flex-col bg-white">
          <div class="mt-9">
            <h2 class="text-center">PASSWORD RE REGISTRATION</h2>
          </div>
          <p class="text-center text-dimgrey font-18">パスワードリセット後<strong>1日以内</strong>に、新しいパスワードを入力してください。</p>
          <p class="error-message-in-password-reset font-20 text-darkred">エラーメッセージ</p>
          <form>
            <div class="password-re-registration-input-wrapper m-auto">
              <div class="input-area text-snow flex-col">
                <label for="password">PASSWORD</label>
                <input type="text" name="password" placeholder="Max. characters 20." maxlength="20" />
              </div>
              <div class="input-area text-snow flex-col">
                <label for="password-confirmation">PASSWORD CONFIRMATION</label>
                <input type="password" name="password-confirmation" placeholder="For reconfirmation." maxlength="20" />
              </div>
              <div class="password-reset-button-area">
                <button class="form-button button-saddlebrown">REGISTER</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/account-button.js"></script>

</html>
{{end}}
