{{define "share-with-someone"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you free? _SHARE MY free-time WITH SOMEONE_</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/registration.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/calender.css" />
    <link rel="stylesheet" href="../css/sharing.css" />
  </head>
  <body>
    <header class="header-wrapper bg-white">
      <div class="header m-auto flex items-center bg-white">
        <a href="/index">
          <div class="header-link bg-white">
            TOP
          </div>
        </a>
        <a href="/free-times">
          <div class="header-link bg-white">
            FREE-TIME LATEST
          </div>
        </a>
        <a href="/free-times">
          <div class="header-link bg-white">
            FREE-TIMES
          </div>
        </a>
        <a href="/share/with_someone">
          <div class="header-link bg-white">
            SHARE
          </div>
        </a>
        <a href="/account/">
          <div class="header-link bg-white">
            ACCOUNT
          </div>
        </a>
        <div class="bg-white today-date font-24">
          <span id="today" class="blinking"></span>
        </div>
      </div>
    </header>

    <main class="main flex-col">
      <div class="title-area-wrapper flex">
        <div class="title-area bg-white">
          <h1 class="text-center">SHARING PAGE</h1>
        </div>
        <div class="sharing-button-wrapper mr flex">
          <a href="/sharing/to"  class="letter-01">
            <div class="sharing-title-area-button bg-oldlace text-center">
              SHARE WITH SOMEONE
            </div>
          </a>
          <a href="/sharing/from"  class="letter-01">
            <div class="sharing-title-area-button bg-oldlace text-center">
              SHARE WITH ME
            </div>
          </a>
        </div>
      </div>

      <div class="content-wrapper flex">
        <div class="content-left-area border-none mt-66">
          <p class="ml-30 font-16 text-wood">日付を選んで<br>free-timeを操作</p>
          <form class="form-wrapper flex-col items-center">
            <label for="today" class="calendar-label">
              <input class="input-calendar" type="date" name="today" id="today-input"/>
            </label>
            <button class="content-left-button">SELECT</button>
            <button class="content-left-button">CREATE</button>
            <button class="content-left-button">UPDATE</button>
          </form>
        </div>

        <!-- 自身のスケジュールを共有するフォーム -->
        <div class="sharing-content-right-wrapper">
          <!-- error message -->
          <p class="error-message-in-share font-20 text-darkred">エラーメッセージ</p>

          <div class="share-form-wrapper">
            <h2 class="text-center">SHARE WITH SOMEONE</h2>
            <p class="text-dimgrey">あなたのfree-timeを任意の相手に共有します。</p>
            <p class="text-dimgrey">パスワード入力後、共有するための番号が発行されます。</p>
            <form class="flex-col">
              <div class="input-area text-wood flex-col">
                <label for="password">PASSWORD</label>
                <input type="password" name="password" maxlength="10" />
              </div>
              <div class="sharing-button-area">
                <button class="form-button button-skyblue">ISSUE</button>
              </div>
            </form>
            <div class="issue-number-wrapper">
              <h2>ISSUE NUMBER</h2>
              <div class="sharing-number-box bg-snow flex-col">
                <p class="sharing-number text-center font-24">1234567891234567</p>
              </div>
              <div class="message-box-for-share">
                <p class="font-18 text-dimgrey">発行された番号を共有してください</p>
                <p class="text-darkred">※有効期限：15分 / 再発行：15分</p>
              </div>
            </div>
          </div>
        </div>
    </main>


  </body>
  <script type="text/javascript" src="../js/now.js"></script>
  <script src="../js/calendar.js"></script>

</html>
{{end}}
