{{define "signup"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Are you free? -Signup-</title>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/registration.css" />
</head>
<body>
  <main>
    <div class="registration-wrapper flex-col">
      <div class="registration-top-area bg-snow flex">
        <h2 class="title signup-title">SIGNUP</h2>
        <div class="registration-link-wrapper">
          <a href="/login" class="registration-link">既にアカウントをお持ちの方はこちら</a>
        </div>
      </div>
      <div class="signup-image-area flex-col">

        <form class="signup-form-area m-auto">
          <div class="input-area text-snow flex-col">
            <label for="name">USERNAME</label>
            <input type="text" name="username" placeholder="Max. characters 10." maxlength="10" />
          </div>
          <div class="input-area text-snow flex-col">
            <label for="password">PASSWORD</label>
            <input type="text" name="password" placeholder="Max. characters 20." maxlength="20" />
          </div>
          <div class="input-area text-snow flex-col">
            <label for="password-confirmation">PASSWORD CONFIRMATION</label>
            <input type="password" name="password-confirmation" placeholder="For reconfirmation." maxlength="20" />
          </div>
          <div class="input-area text-snow flex-col">
            <label for="e-mail">E-MAIL</label>
            <input type="text" name="e-mail" placeholder="Your email-address." />
          </div>
          <div class="signup-button-area">
            <button class="form-button button-saddlebrown">REGISTER</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
{{end}}
