.account-content-right-area {
  width: 73%;
  height: 63vh;
  margin: 6% auto 0 auto;
  box-shadow: 7px 7px 20px rgba(0,0,0,.3);
}

#icon-list-display-button {
  border: none;
}
#icon-list {
  width: 72%;
  height: 70vh;
  position: absolute;
  top: 25%;
  left: 23%;
  display: none;
  z-index: 10;
}
#icon-list.icon-list-is-hidden {
  display: block;
}
.icon-list-wrapper {
  width: 97%;
  height: 95%;

  --bg-gradient: linear-gradient(#333 0 100%);
    margin: 0.5rem;
    padding: 1.5rem;
    background-image:
        var(--bg-gradient),
        var(--bg-gradient),
        var(--bg-gradient),
        var(--bg-gradient);
    background-repeat: no-repeat;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-position: left top 15px, right 15px top, left bottom 15px, left 15px top;
}
.icon-row {
  width: 100%;
  height: 30%;
  margin-left: 1%;
  align-items: center;
}
.icon-row button {
  border: none;
}
.button-row {
  width: 100%;
  height: 20%;
}
.button-row:nth-child(1) {
  margin-top: 30px;
}
.button-row:nth-child(2) {
  margin-bottom: 40px;
}
.icon {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}
.icon:hover {
	cursor: pointer;
	transform: scale(1.3, 1.3);
}
.icon.scale {
  transform: scale(1.3, 1.3);
}
.icon-size {
  width: 132px;
  height: 132px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#submit-button {
  position: relative;
  width: 220px;
  height: 60px;
  margin: 20px 50px 0 0;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 3px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
  opacity: 0.9;
}
#submit-button::before {
  content: "";
  display: block;
  height: 2px;
  width: 75%;
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  background-color: var(--OLDLACE);
  transition: .3s;
}
#submit-button::after {
  content: "";
  display: block;
  height: 2px;
  width: 75%;
  position: absolute;
  border-radius: 12px;
  right: 0;
  background-color: var(--OLDLACE);
  transition: .3s;
}
#submit-button::before {
  top: 0;
}
#submit-button::after {
  bottom: 0;
}
#submit-button:hover::before {
  transform: translateX(-100%);
}
#submit-button:hover::after {
  transform: translateX(100%);
}

/* username change form */
#username-change-form-display-button {
  border: none;
}
#username-change-form {
  width: 72%;
  height: 70vh;
  position: absolute;
  top: 25%;
  left: 23%;
  display: none;
  z-index: 10;
}
#username-change-form.username-change-form-is-hidden {
  display: block;
}
.username-input-wrapper {
  width: 60%;
  height: 100%;
}

/* password change form */
#password-change-form-display-button {
  border: none;
}
#password-change-form {
  width: 72%;
  height: 70vh;
  position: absolute;
  top: 25%;
  left: 23%;
  display: none;
  z-index: 10;
}
#password-change-form.password-change-form-is-hidden {
  display: block;
}

/* email change form */
#email-change-form-display-button {
  border: none;
}
#email-change-form {
  width: 72%;
  height: 70vh;
  position: absolute;
  top: 25%;
  left: 23%;
  display: none;
  z-index: 10;
}
#email-change-form.email-change-form-is-hidden {
  display: block;
}

/* account information */
.account-info-left-area {
  width: 40%;
  height: 100%;
  margin-top: 2%;
}
.my-icon-wrapper {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-icon-wrapper label {
  margin-right: 54%;
  margin-bottom: 2%;
  position: relative;
}
.my-icon-wrapper label::after {
  content: '';
  position: absolute;
  left: 60%;
  top: 110%;/*線の上下位置*/
  display: inline-block;
  width: 100%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 1px;/*線の丸み*/
}
.my-icon-area {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  filter: drop-shadow(15px 15px 12px rgba(0,0,0,.3));
}
.my-name-wrapper {
  position: relative;
  width: 100%;
  height: 35%;
  margin-left: 10%;
  letter-spacing: 0.1em;
}
.my-name-wrapper label::after {
  content: '';
  position: absolute;
  left: 14%;
  top: 12%;/*線の上下位置*/
  display: inline-block;
  width: 22%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 1px;/*線の丸み*/
}
.name-box {
  width: 70%;
  height: 28%;
  margin-top: 7%;
  margin-left: 10%;
  line-height: 10%;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}
.account-info-right-area {
  width: 60%;
  height: 100%;
}
.info-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.info-area {
  width: 100%;
  height: 25%;
  position: relative;
}
.info-description-wrapper {
  width: 40%;
  height: 100%;
}
.button-info-description-wrapper {
  width: 70%;
  height: 100%;
}

.description-label-wrapper {
  width: 100%;
  height: 30%;
  margin-top: 15%;
}
.button-description-label-wrapper {
  width: 60%;
  height: 30%;
  margin-top: 10%;
}
.button-description-label-wrapper label {
  letter-spacing: 0.1em;
}
.description-wrapper {
  width: 100%;
  height: 70%;
  margin-left: 15%;
}
.button-description-wrapper {
  width: 100%;
  height: 70%;
  margin-left: 10%;
  line-height: 50%;
}
.description-label-wrapper {
  width: 100%;
  height: 30%;
}
.info-result-wrapper {
  width: 30%;
  height: 100%;
}
.info-change-button-wrapper {
  width: 30%;
  height: 100%;
}
.info-area:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 46%;
  left: 15%;
  display: inline-block;
  width: 24%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.info-area:nth-child(2):after {
  content: '';
  position: absolute;
  top: 46%;
  left: 9.6%;
  display: inline-block;
  width: 14%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.info-area:nth-child(3):after {
  content: '';
  position: absolute;
  top: 46%;
  left: 9.6%;
  display: inline-block;
  width: 14%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.info-area:nth-child(4):after {
  content: '';
  position: absolute;
  top: 46%;
  left: 11.5%;
  display: inline-block;
  width: 18%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.edit-info-area {
  width: 100%;
  height: 25%;
  position: relative;
}
.edit-info-area:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 46%;
  left: 16.5%;
  display: inline-block;
  width: 28%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.edit-info-area:nth-child(2):after {
  content: '';
  position: absolute;
  top: 46%;
  left: 19.5%;
  display: inline-block;
  width: 33.5%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.edit-info-area:nth-child(3):after {
  content: '';
  position: absolute;
  top: 46%;
  left: 14.5%;
  display: inline-block;
  width: 24%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.edit-info-area:nth-child(4):after {
  content: '';
  position: absolute;
  top: 46%;
  left: 15.5%;
  display: inline-block;
  width: 26%;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 1px;
}
.result-wrapper {
  width: 90%;
  height: 40%;
  margin-top: 29%;
  margin-left: 5%;
  line-height: 330%;
  border-radius: 4px;
  box-shadow: 4px 4px 7px rgba(0,0,0,.3);
}
.link-button {
  width: 90%;
  height: 40%;
  margin-top: 23%;
  margin-left: 7%;
  letter-spacing: 0.1em;
  line-height: 100%;
  border-radius: 4px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
}
.link-button::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  left: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.link-button::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  right: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.link-button::before {
  top: 0;
}
.link-button::after {
  bottom: 0;
}
.link-button:hover::before {
  transform: translateX(-100%);
}
.link-button:hover::after {
  transform: translateX(100%);
}

.back-button {
  width: 90%;
  height: 40%;
  margin-top: 23%;
  margin-left: 7%;
  letter-spacing: 0.1em;
  line-height: 100%;
  border-radius: 4px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
}
.back-link {
  position: relative;
  margin-top: 40%;
}
.back-link.current,
.back-link:hover{
  color: var(--WOOD);
}
.back-link::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: -30%;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: var(--WOOD);
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.back-link.current::after,
.back-link:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}
