/* =================== main ====================== */

.main {
  width: 100%;
  height: 100%;
  padding-top: 13vh;
}

/* =================== content上部 ====================== */

.heading-wrapper {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.heading-over-area-wrapper {
  width: 100%;
  height: 2vh;
}

.heading-left-area-over {
  width: 20%;
}

.heading-right-area-over {
  width: 80%;
  border: none;
  border-left: 1px solid #000;
}

.heading-area-wrapper {
  top: 20px;
  width: 100%;
  height: 6vh;
}

.heading-left-area {
  width: 20%;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.heading-right-area {
  width: 80%;
  border: none;
  border-top: 1px solid #000;
  border-left: 1px solid #000;;
  border-bottom: 1px solid #000;
}

.heading-right-area ul {
  display: table;
  table-layout: fixed;
  padding: 0;
  width: 100%;
  height: 100%;
}

.heading-right-area li {
  display: table-cell;
  padding: 4px 20px;
  font-size: 20px;
}

.title-area-wrapper {
  width: 100%;
  height: 10vh;
  margin-top: 2%;
}

.title-area {
  position: relative;
  display: inline-block;
  margin-left: 2.5%;
  width: 30%;
  height: 100%;
  border: none;
}
.title-area:before {
  content: '';
  position: absolute;
  left: 70%;
  bottom: 0px;/*線の上下位置*/
  display: inline-block;
  width: 70%;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
.title-area:after {
  content: '';
  position: absolute;
  left: 30%;
  top: 0px;/*線の上下位置*/
  display: inline-block;
  width: 70%;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.subject-to {
  position: relative;
  margin: 20px auto 0 auto;
  width: 40%;
  height: 100%;
  padding: 0 16px;
  border-radius: 16px;
  background-color: #c4dcfd;
  border-radius: 16px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.title-area-button-wrapper {
  width: 70%;
  height: 100%;
}
.toggle-button-wrapper {
  width: 18%;
  height: 80%;
  margin: auto 3.5% 0 1%;
}
.toggle-button-wrapper:nth-child(1) {
  width: 18%;
  height: 80%;
  margin: auto 3.5% 0 9%;
}
.toggle-button {
  width: 100%;
  height: 100%;
  margin: auto 2%;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
}
.toggle-button::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  left: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.toggle-button::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  right: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.toggle-button::before {
  top: 0;
}
.toggle-button::after {
  bottom: 0;
}
.toggle-button:hover::before {
  transform: translateX(-100%);
}
.toggle-button:hover::after {
  transform: translateX(100%);
}

.title-area-button {
  width: 40%;
  height: 50%;
  margin: auto 2%;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
}
.title-area-button::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  left: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.title-area-button::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  right: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.title-area-button::before {
  top: 0;
}
.title-area-button::after {
  bottom: 0;
}
.title-area-button:hover::before {
  transform: translateX(-100%);
}
.title-area-button:hover::after {
  transform: translateX(100%);
}

.account-title-area-button-wrapper {
  width: 17%;
  height: 100%;
  margin: 0.5% auto 0 auto;
}
.account-title-area-button {
  width: 100%;
  height: 90%;
  line-height: 180%;
  text-decoration: none;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
}
.account-title-area-button::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  left: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.account-title-area-button::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  right: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.account-title-area-button::before {
  top: 0;
}
.account-title-area-button::after {
  bottom: 0;
}
.account-title-area-button:hover::before {
  transform: translateX(-100%);
}
.account-title-area-button:hover::after {
  transform: translateX(100%);
}
.account-logout-button {
  width: 20%;
  height: 80%;
  margin: 1.5% 2% 0 75%;
  line-height: 180%;
  text-decoration: none;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
}
.account-logout-button::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  left: 0;
  background-color: var(--SNOW);
  transition: .3s;
}
.account-logout-button:after {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  right: 0;
  background-color: var(--SNOW);
  transition: .3s;
}
.account-logout-button::before {
  top: 0;
}
.account-logout-button::after {
  bottom: 0;
}
.account-logout-button:hover::before {
  transform: translateX(-100%);
}
.account-logout-button:hover::after {
  transform: translateX(100%);
}

/* =================== content ====================== */

.content-wrapper {
  width: 100%;
  height: 100%;
}

.content-left-area {
  width: 20%;
  height: 70vh;
  margin-top: 2%;
  border: none;
  border-right: 1px solid #000;
}

.select-schedule-left-area {
  width: 20%;
  padding-top: 66px;
  padding-bottom: 66px;
}

.index-content-right-area {
  width: 80%;
}

.content-right-area {
  width: 80%;
  padding-top: 66px;
  padding-bottom: 66px;
}

.content-left-form {
  width: 80%;
}

.form-wrapper {
  width: 100%;
}

.input-calendar {
  width: 70%;
}

.content-left-button {
  width: 60%;
  height: 50px;
  margin-top: 30px;
  margin-left: 30px;
  border: none;
  background-color: var(--SNOW);

  line-height: 1;
  text-decoration: none;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.content-left-button::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  left: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.content-left-button::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  right: 0;
  background-color: var(--WOOD);
  transition: .3s;
}

.content-left-button::before {
  top: 0;
}

.content-left-button::after {
  bottom: 0;
}

.content-left-button:hover::before {
  transform: translateX(-100%);
}

.content-left-button:hover::after {
  transform: translateX(100%);
}

.select-time-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 65px;
}
.select-time-wrapper:before {
  content: '';
  position: absolute;
  bottom:-8px;
  left:5%;
  width: 60%;
  height: 1px;
  background:#333;
  transition: all .3s;
}
.select-time-wrapper::after{
  content: '';
  position: absolute;
  bottom:-3px;
  right:35%;
  width: 15px;
  height:1px;
  background:#333;
  transform: rotate(35deg);
  transition: all .3s;
}
/*hoverした際の移動*/
.select-time-wrapper:hover::before{
    left:10%;
}
.select-time-wrapper:hover::after{
    right:30%;
}

.select-time-hour-area {
  width: 130px;
}

.select-time-hour {
  height: 35px;
  margin: 0 50px;
  padding: 5px 8px;
  border-radius: 8px;
}

.select-time-minute-area {
  width: 50px;
}

.select-time-minute {
  height: 35px;
  margin: 0 30px;
  padding: 5px 8px;
  border-radius: 8px;
}

.select-time-button-area {
  width: 150px;
  margin-left: 80px;
}

.select-time-button {
  width: 100%;
  height: 50px;
  margin: 0 10px;
  padding: 5px 16px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  letter-spacing: 0.1em;
}
