.sharing-content-right-wrapper {
  width: 80%;
  margin-top: 80px;
}

.error-message-in-share {
  position: absolute;
  top: 24%;
  left: 50%;
}

.sharing-page-button-wrapper {
  width: 16%;
  height: 80%;
  margin-left: 5%;
  margin-top: auto;
  /* margin: auto 10% 0 0%; */
}
.sharing-page-button-wrapper:nth-child(2) {
  width: 20%;
  height: 80%;
  margin-left: 23%;
  margin-top: auto;
  /* margin: auto 10% 0 0%; */
}
.sharing-page-button {
  width: 100%;
  height: 100%;
  margin: auto 2%;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 4px 4px 5px 0px rgba(43, 43, 43, 0.3);
}
.sharing-page-button::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  left: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.sharing-page-button::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 75%;
  position: absolute;
  right: 0;
  background-color: var(--WOOD);
  transition: .3s;
}
.sharing-page-button::before {
  top: 0;
}
.sharing-page-button::after {
  bottom: 0;
}
.sharing-page-button:hover::before {
  transform: translateX(-100%);
}
.sharing-page-button:hover::after {
  transform: translateX(100%);
}
.share-form-wrapper {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.share-form-wrapper h2 {
  margin-right: 40px;
}
.share-form-wrapper .input-area input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: var(--SNOW);
  opacity: 1;
  color: var(--BLACK);
  border: none;
  outline: none;
  padding: 20px 8px;
  border: 1px solid var(--BEIGE);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border-radius: 8px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
.sharing-button-area {
  width: 92.5%;
  margin-top: 50px;
}
.button-skyblue {
  color: var(--SNOW);
  background-color: var(--SKYBLUE);
  opacity: 0.9;
}

.issue-number-wrapper {
  width: 100%;
  height: 30%;
  margin-top: 80px;
}
.sharing-number-box {
  position: relative;
  width: 87.5%;
  height: 60px;
  padding: 0 15px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 7px 7px 20px rgba(0,0,0,.3);
  opacity: 0.9;
}
.sharing-number-box::before {
  content: '';
  position: absolute;
  left: 58%;
  bottom: 15%;/*線の上下位置*/
  display: inline-block;
  width: 70%;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: var(--WOOD);/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
.sharing-number {
  line-height: 15px;
  letter-spacing: 0.2em;
  border-radius: 3px;
}
.message-box-for-share {
  width: 70vh;
  height: 20%;
  margin-top: 20px;
  margin-left: 20px;
}
